header{
    background-color: #15100d;
    color: #c8a370;
}
body{
    background-color: #000000;
    color: hsl(35, 60%, 61%);
}
.utkarsh-hero{
    background-color: black;
    /* border: 2px solid red; */
    /* background-image: url('images/back.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center; */
}
.utkarsh-hero .row img{
    height:400px;
    object-fit: contain;
}
.carousel-control-prev{
    background-color: hsla(354, 80%, 78%, 0.262);
    width: 20px;
}
.carousel-control-next{
    background-color: hsla(354, 80%, 78%, 0.262);
    width: 20px;
}
.carousel-control-next-icon{
    background-image: url("images/right-arrow.svg");
}
.carousel-control-prev-icon{
    background-image: url("images/left-arrow.svg");
}
.carousel-inner{
    /* background-color: yellow; */
    width: 70vw;
    margin: auto;
}
.carousel-item{
    height: max-content;
    align-items: center;
}
.team-details{
    /* margin: 3rem 0rem; */
    background-color: black;
}
.card{
    background-color: hsl(23, 24%, 25%);
    padding: 8px;
}
.card p:first-child{
    /* background-color: yellow; */
    font-size: 1.2rem;
}
.card p:nth-child(2){
    font-size: 0.8rem;
    color:hsl(35, 20%, 61%);
}
.heading{
    font-size: 1.4rem;
    background-color:hsl(35, 60%, 50%);
    margin-top: 2rem;
    color: #000000;
}
.card-body{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    justify-content: end;
}
/* .card-body p{
    bottom: 0px;
} */
.card img{
    /* border: 1px solid red; */
    /* height: 250px; */
    object-fit: contain;
    border-radius: 5px;
}
.card-text{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.table th{
    color: hsl(35, 60%, 50%);
}